body {
    background-color: #FFFDF7;
}

.btn.btn-primary {
    background-color: #2CA58D;
}

#modal {
    background-color: #FFFDF7;
    height: 500px;
}

#categories {
    margin-top: 20px;
    padding-bottom: 20px;
}

#categoryBox.Politics {
    background-image: url('http://ionenewsone.files.wordpress.com/2011/07/obama-podium.jpg');
    -webkit-filter: grayscale(0.6) opacity(0.9) sepia(0.1);
    color: white;
}
#colorBoxClips.Politics {
    background-color: #0A0B4B;
}
#colorBox.Politics {
    background-color: #0A0B4B;
}
#colorBoxClips {
    opacity: .8;
    position: absolute;
    left: -0px;
    top:0px;
    height: 300px;
    width:100%;
    margin-bottom: 10px;
}
#colorBox {
    opacity: .7;
    position: absolute;
    left: -0px;
    height: 300px;
    width: 300px;
    margin-bottom: 10px;
}

#colorBox:hover {
    border: 5px solid white;
}

#categoryBox.Technology {
    background-image: url('http://blogs.scientificamerican.com/media/inline/blog/Image/Obama-tech-advisors.jpg');
    -webkit-filter: grayscale(0.6) sepia(0.1);
    color: white;
}

#colorBox.Technology {
    background-color: #03291D;
}
#colorBoxClips.Technology {
    background-color: #03291D;
}

#categoryBox.Sports {
    background-image: url('http://www3.pictures.zimbio.com/gi/NBA+Finals+Game+6+Boston+Celtics+v+Los+Angeles+YVhOaWeJxRvl.jpg');
    -webkit-filter: grayscale(0.6) sepia(0.1);
    color: white;
}

#colorBox.Sports {
    background-color: #5C0800;
}
#colorBoxClips.Sports {
    background-color: #5C0800;
}

#categoryBox.Shopping {
    background-image: url('https://timebusinessblog.files.wordpress.com/2012/08/107428671-e13446287357841.jpg?w=480&h=320&crop=1');
    -webkit-filter: grayscale(0.6) sepia(0.1);
    color: white;
}

#colorBox.Shopping {
    background-color: #290030;
}
#colorBoxClips.Shopping {
    background-color: #290030;
}
#categoryBox.Health {
    background-image: url('http://www.oecd.org/media/oecdorg/topics/health/48300184.jpg');
    -webkit-filter: grayscale(0.6) sepia(0.1);
    color: white;
}

#colorBox.Health {
    background-color: #9011A5;
}
#colorBoxClips.Health {
    background-color: #9011A5;
}

#categoryBox.Science {
    background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQal6if-21agDe7ziamXBvYKihiECmOuZ3VWBN0uZZY1C2MySKBUA');
    -webkit-filter: grayscale(0.6) sepia(0.1);
    color: white;
}

#colorBox.Science {
    background-color: #4FB741;
}
#colorBoxClips.Science {
    background-color: #4FB741;
}



#categoryBox {
    height: 300px;
    position: relative;
    width: 300px;
    color: white;
    z-index: 1;
}


/*table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}*/

#categoryText {
    color: white;
    position: absolute;
    bottom: 2px;
    left: 20px;
    z-index: 4;
    font-size: 25px;
}
#showMore{
    position:absolute;
    top:90px;
    left:35px;
}

#articleTitle {
    color: white;
    text-align:center;
    position: absolute;
    top: 50%;
    z-index: 4;
    font-size: 15px;
}

#articleTitle:hover{
    text-decoration: underline;
}

#suggestions {
    position: fixed;
    color: #0A2342;
    height: 100%;
    width: 30%;
    top: 40px;
    right: 0px;
    background-color: #01A2A6;
    overflow: hidden;
}

#suggestTitle {
    color: #0A2342;
}

.suggestions.ng-enter,
.suggestions.ng-leave {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.suggestions.ng-enter,
.suggestions.ng-leave.ng-leave-active {
    opacity: 0;
}

.suggestions.ng-leave,
.suggestions.ng-enter.ng-enter-active {
    opacity: 1;
}

#clipTitle {
    font-size: 12px;
}

#landing {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.navbar-header {
    width: 10%;
}

#header.head {
    background-color: #FFFDF7;
    color: #0A2342;
}

#navbrand {
    font-family: 'Anton', sans-serif;
    color: #0A2342;
    background-color: #FFFDF7;
    font-size: 50px;
}

#navLink {
    color: #0A2342;
}

#navLink:hover {
    color: #0A2342;
    cursor: pointer;
}

#navbrand:hover {
    color: #2CA58D;
}

#brand {
    font-family: 'Anton', sans-serif;
    position: absolute;
    color: white;
}

#brand:hover {
    color: #0A2342;
    font-family: 'Anton', sans-serif;
    position: absolute;
    color: #0A2342;
}

#brand:hover {
    color: #0A2342;
}

#clipSelectWebsite {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

a {
    color: #0A2342;
}

a:hover {
    color: #01A2A6;
}

.clipShowWrapper {
    position: absolute;
    left: 25%;
}

.clipShowWrapper {
    position: absolute;
    left: 25%;
}


/*#clipBackground {
    width: 144px;
    height: 153.6px;
    position: relative;
    border: 2px solid #2CA58D;
    border-radius: 20px;
    size: 50%;
 
}*/

#clipBox {
    font-size: 14px;
    position:relative;
    background-color: #FFFDF7;
    background-size:100%;
    border: 2px solid #FFFDF7;
    color: #0A2342;
    margin-top: 5px;
    padding-top: 15px;
    margin-left: 10px;
    text-align: center;
    height: 300px;
    -webkit-filter: grayscale(0.6) opacity(0.9) sepia(0.1);
}

#clipBox:hover {
    border: 5px solid white;
    cursor: pointer;
}

#googlebox.btn.btn-block.btn-social.btn-google {
    width: 15%;
    background-color: white;
    color: #0A2342;
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: center;
    z-index: 1;
}

#googlebox.btn.btn-block.btn-social.btn-google:hover {
    background-color: #2CA58D;
    color: white;
    cursor: pointer;
}

#scrollBtn {
    position: absolute;
    bottom: 0px;
    right: 50%;
    color: white;
    z-index: 1;
    width: 30px;
    height: auto;
    font-size: 50px;
}

#scrollBtn:hover {
    font-size: 60px;
}

#googlebutton.fa.fa-google-plus-square {
    position: absolute;
    background-color: white;
    color: #0A2342;
}

#googlebutton.fa.fa-google-plus-square:hover {
    color: #2CA58D;
}

body {
    padding-top: 50px;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}

#main-wrapper {
    height: 100%;
    overflow-y: auto;
    float: center;
    padding: 50px 0 0 0;
    position: relative;
    padding-top: 5%;
    padding-left: 15%;
}

#main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;
}

#sidebar-wrapper {
    height: 100%;
    padding: 50px 0 0px 0;
    position: fixed;
    border-radius: 20px;
    border: #2CA58D;
    background-color: #FFFDF7;
    border-top: 20px;
}

#sidebar {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.nav.list-group {
    padding-top: 20px;
}

#sidebar .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    min-height: 100%;
    background-color: #0A2342;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-color: #FFFDF7;
    color: #0A2342;
}

#sidebar .list-group-item:hover {
    color: #2CA58D;
    cursor: pointer;
}

h3 {
    color: #FFFDF7;
}

@media (max-width: 992px) {
    body {
        padding-top: 0px;
    }
}

@media (min-width: 992px) {
    #main-wrapper {
        float: right;
    }
}

@media (max-width: 992px) {
    #main-wrapper {
        padding-top: 0px;
    }
}

@media (max-width: 992px) {
    #sidebar-wrapper {
        position: static;
        height: auto;
        border-right: 0;
        border-top: 20px;
    }
}

.footer {
    background-color: #ffffff;
    bottom: 0;
    position: fixed;
    padding: 10px;
}