body {
    width: 170px;
    height: 50px;
    overflow: hidden;
    border-radius: 5px
    }

.status {
    font-family: 'Anton', sans-serif;
    color: #0A2342;
    font-size: 12px;
        }

.title {
    font-family: 'Anton', sans-serif;
    color: #0A2342;
    font-size: 14px;
        }