<div id="modal" <div class="modal-header">
    <iframe id="clipSelectWebsite" src="{{sceUrl}}" style="width:100%;height:100%"></iframe>
</div>
<div class="modal-body" ng-init="getRelated()">
	<div class="savedNotes" ng-show="sites" ng-repeat="article in suggestions">
		<li><a href="{{ article.suggestionUrl }}" target="_blank">{{ article.suggestionTitle }}</a></li>
	</div>
    
      
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="displaySites()">Suggestion</button>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Close</button>
    </div>
        
</div>