<div ng-controller="ClipController" id="header" class="head navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" id="navbrand" href="#/">CLIPPR</a>
    </div>
    <nav class="collapse navbar-collapse" id="js-navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a id="navLink" ng-click='loadClipsByCategory("all")'>All Clips</a></li>
            <li><a id="navLink" ng-click='logOut()'>Logout</a></li>
        </ul>
    </nav>
</div>

<div id="container-fluid" style="padding-top:50px;">
    <div class="col-lg-2">
        <nav class="navmenu navmenu-default" role="navigation" id="navMenu">
            <ul class="nav navmenu-nav">
                <li>
                    <label>Search:
                        <input ng-model="searchText">
                    </label>
                </li>
                <li class="active"><a ng-click="recentlyAdded()">Recently Added</a></li>
                <li><a ng-click="mostVisited()">Most Visited</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-autohide="false" data-toggle="dropdown"> Categories <b class="caret"></b></a>
                    <ul class="dropdown-menu navmenu-nav" role="menu" ng-repeat="(category,values) in categories.categories">
                        <li data-drop="true" jqyoui-droppable="{onDrop:'changeCategory(category,$index)'}" class="{{category}}" id="categoryBox" ng-click="loadClipsByCategory(category)">
                            <div id="colorBox" class="{{category}}">
                            </div>
                            <h4 id="categoryText">{{category}}</h4>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-autohide="false" data-toggle="dropdown"> Your Lists <b class="caret"></b></a>
                    <ul class="dropdown-menu navmenu-nav" role="menu">
                        <ul ng-init="loadCollections()" ng-repeat="collection in clips.collections">
                            <a ng-click="showCollectionClips(collection)">{{collection}}</a>
                        </ul>
                        <form ng-submit="submit()">
                            <input type="text" placeholder="Add new collection" ng-model="collection" name="collection" />
                            <input type="submit" id="submit" value="Submit" />
                        </form>
                    </ul>
            </ul>
        </nav>
    </div>
    Clips
    <!--         <div class="page-content">
 -->
    <div class="col-lg-10" id="clipHolder">
     <a id="catLink" class='{{categoryDisplay}}'>{{categoryDisplay}}</a>

        <div ng-repeat="clip in clips.clips | filter:searchText">
            <div data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{placeholder:true, animate:true}" class="col-lg-3 {{clip.category}}" id="clipBox" style="background-image: url('{{clip.imgUrl}}')">
                <i ng-click="delete(clip.title)" confirm="Are you sure you want to delete {{clip.title}}?" confirm-title="Confirm Delete" confirm-ok="Yes" confirm-cancel="No" class="fa fa-trash-o"></i><i ng-click="showModal(clip,'lg')" class="fa fa-ellipsis-h"></i>
                <a ng-click="incrementCount(clip.title)" ng-href="{{clip.clipUrl}}" target="_blank">
                    <div id="clipOverlay">
                        <h4 id="overlayTitle" title='{{clip.title}}'> {{clip.title}}</h4>
                    </div>
                </a>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>